:root {
    --color_bg: #100020;
    --color_fg_blue: #201060b0;
    --color_fg_purple: #302050b0;
    --color_fg_pink: #401040b0;
    --color_border_blue: #4090c0;
    --color_border_purple: #7080a0;
    --color_border_pink: #806090;
    --color_text: #90e0e0;
}

html {
    background-color: var(--color_bg);
    color: var(--color_text);
    font-family: "Rubik";
    font-size: 20px;
    margin: 0 10% 0 10%;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
}
.findMeButton {
    background-color: var(--color_fg_pink);
    border: 3px solid var(--color_border_pink);
    color: var(--color_text);
    font-size: 24px;
}

ul {
    margin: 0;
    padding: 0;
}

.mainCity {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: var(--color_fg_purple);
    border: 3px solid var(--color_border_purple);
    padding: 15px;
}
.mainCityHeader {
    width: 700px;
    flex-grow: 1;
    align-items: center;
}
.mainCityHeader h3 {
    margin-top: 10px;
    width: 100%;
    font-size: 48px; 
}

.mainCityHeader .temperature {
    width: 50%;
    font-size: 200px;
}
.mainCity ul {
    width: 700px;
    flex-grow: 1;
}
.mainCity ul li {
    font-size: 24px;
    margin-bottom: 15px;
}

.favTitle {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.favInput {
    display: flex;
}
.favInput textarea {
    background-color: var(--color_fg_pink);
    border: 3px solid var(--color_border_pink);
    color: var(--color_text);
    font-size: 36px;
    height: 50px;
    width: 600px;
    align-self: center;
}
.addButton {
    background-image: url(plus.png);
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-color: transparent;
    height: 100px;
    width: 100px;
    border: none;
}

.favList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: -20px;
}
.favCity {
    display: flex;
    flex-direction: column;
    background-color: var(--color_fg_purple);
    border: 3px solid var(--color_border_purple);
    padding: 10px 10px 0px 10px;
    margin: 20px;
    width: 400px;
    flex-grow: 1;
}
.favCityHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom:10px;
}
.favCityHeader h3 {
    font-size: 30px;
}
.favCity .temperature {
    font-size: 50px;
}

.weatherList {
    height: 100%;
    margin: 10px;
}
.weatherList li {
    display: flex;
    justify-content: space-between;
    background-color: var(--color_fg_blue);
    border: 3px solid var(--color_border_blue);
    margin-bottom: 10px;
    padding: 5px;
}
.deleteButton {
    background-image: url(cross.png);
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-color: transparent;
    height: 100px;
    width: 100px;
    border: none;
}